.new_listed_heading{
    font-size: 20px;
    font-weight: 600;
}
.New_listedProperty-Heading{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    /* color: ; */
}

.Description_new_listed_property{
    line-height: 1.8;
    margin-bottom: 10px;
}

.price_new{
    padding-top: 10px;
}